# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.vsidx
*.db
*.db-shm
*.db-wal
*.opendb
*.json
*.tlog
*.iobj
*.recipe
*.log
*.sarif
*.pdb
*.ipdb
*.txt
.vs/BeltOptimizations/v17/.suo
*.cod
*.ilk
*.ifc
*.command
.vs/BeltOptimizations/copilot-chat/93735917/sessions/17f522bf-9f08-4f83-b581-71e96de409cf
/.vs
.vs/BeltOptimizations/v17/.suo
/.vs/BeltOptimizations
